---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import TechStack from '../components/TechStack.astro';
import ProjectsGrid from '../components/ProjectsGrid.astro';
import ContactForm from '../components/ContactForm.astro';
import { getTranslations, type Locale } from '../utils/i18n';

const currentLocale = (Astro.currentLocale ?? 'es') as Locale;
const t = getTranslations(currentLocale);
---

<Layout title={`${t.hero.title} - ${t.site.name}`}>
	<Header locale={currentLocale} />
	<main>
		<section id="inicio">
			<Hero locale={currentLocale} />
		</section>
		<section id="tecnologias">
			<TechStack locale={currentLocale} />
		</section>
		<section id="proyectos">
			<ProjectsGrid locale={currentLocale} />
		</section>
		<section id="contacto">
			<ContactForm locale={currentLocale} />
		</section>
	</main>
	
</Layout>
